@model ETS.UI.Models.PersonelResponseModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data.Name" class="control-label"></label>
                <input asp-for="Data.Name" class="form-control" />
                <span asp-validation-for="Data.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data.Surname" class="control-label"></label>
                <input asp-for="Data.Surname" class="form-control" />
                <span asp-validation-for="Data.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data.Sex" class="control-label"></label>
                <input asp-for="Data.Sex" class="form-control" />
                <span asp-validation-for="Data.Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data.SBirthDate" class="control-label"></label>
                <input asp-for="Data.SBirthDate" class="form-control" />
                <span asp-validation-for="Data.SBirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data.PhoneNumber" class="control-label"></label>
                <input asp-for="Data.PhoneNumber" class="form-control" />
                <span asp-validation-for="Data.PhoneNumber" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
